<div class="container mt-2" eaMultiSelectDropdownClose>
  <div class="row">
      <div class="col-3 mb-4">
          <ea-multi-select-dropdown
              [id]="1"
              (selected)="select($event)"
              (closed)="log($event)"
              [label]="'Princess'"
              [options]="princesses"
              [addSelectAllOption]="true"
              [allowMultiple]="false">
          </ea-multi-select-dropdown>
      </div>
      <div class="col-3 mb-4">
          <ea-multi-select-dropdown
              [id]="2"
              (selected)="select($event)"
              [label]="'Creatures'"
              [options]="fantasyCreatures"
              [addSelectAllOption]="true"
              [selectAllText]="'All Creatures'"
              [selectAllByDefault]="true"
              (closed)="log($event)">
          </ea-multi-select-dropdown>
      </div>
      <div class="col-3 mb-4">
          <ea-multi-select-dropdown
              [id]="3"
              (selected)="select($event)"
              [label]="'Kingdom'"
              [options]="kingdoms">
          </ea-multi-select-dropdown>
      </div>
  </div>
  <div class="row">
      Princess {{princess}} lives in {{kingdom}} with lots of creatures, like {{creatures}}.
  </div>
  <div class="row">
      <button class="btn btn-primary">Apply</button>
  </div>
</div>