.ea-multi-select-dropdown-container .option-list {
  z-index: 999999;
  position: absolute;
  background-color: #fff;
  width: 100%;
  max-height: 350px;
  overflow-y: auto;
  background-color: #fff !important;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1em;
}

.ea-multi-select-dropdown-container .option-list > div {
  cursor: pointer;
}

.ea-multi-select-dropdown-container {
  position: relative;
  width: 100%;
}

.ea-multi-select-dropdown-container button{
  width: 100%;
}

.ea-multi-select-dropdown-container button > div > span {
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}